<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Tarea 2 - Node</title>
</head>
<body>
<div style="padding: 30px">
    <h3>Reto 2 de Node</h3>
    <p>Andrea Bayona</p>
    <link>
    <li><a href="api/proveedores">Proveedores</a></li>
    <li><a href="api/clientes">Clientes</a></li>
</div>

</body>
</html>